%text {
    font-weight: bold;
    font-family: arial,sans-serif;
}

%text-normal {
    font-weight: normal;
    font-family: arial,sans-serif;
}

%form-shape{
    display: block;
    margin: 8px 5px;
    background: none;

    //Shape
    outline: none;
    color: white;
    border-radius: 40px;
    transition: 0.25s;
}

$bgwhite: white;
$fontNormal: 14px;

@media (min-width: 600px) {
    body {
        background-color: white;
    }
}
@media (max-width: 500px) {
    body {
        background-color: white;
    }
}

.form-wrapper {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;

    display: flex;
	justify-content: center;

    position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.form-content {
    display: block;
    text-align: center;
}

.form-wrapper .form-content input[type="text"] {
    @extend %form-shape;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 8px 2px #c5c2c2;
    
    text-align: left;

    // /*Shape size*/
    padding: 15px 400px 15px 50px;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: black;
}

.form-wrapper .form-content input[type="text"]:focus {
    @extend %text-normal;
    font-size: $fontNormal;

    text-align: left;
    color: $bgwhite;

    border-color: #b1b1b1;
    box-shadow: 3px 3px 8px 2px #888888;
}

.form-wrapper .form-content input[type="submit"], #lucky-btn {
    @extend %form-shape;
    // box-shadow: 3px 3px #cac8c8;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 10px 2px #c5c2c2;

    display: inline-block;
    text-align: center;

    //Shape size
    padding: 8px 15px;
    cursor: pointer;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: black;
}

.form-wrapper .form-content input[type="submit"]:Hover, #lucky-btn:Hover {
    border: 2px solid #c5c2c2;
    background: #cac8c8;
    text-align: center;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: white;
}

.link-wrapper {
    margin: 5px 10px;
    width: 20%;
    padding: 20px 25px;
    display: block;
    text-align: right;

    position:absolute;
    top:0;
    right:0;

    @extend %text;
    font-size: $fontNormal;
    
}

.link-wrapper a {
    margin: 5px;
}

a:link, a:visited {
    text-decoration: none;
    color: #888888;
}
  
a:hover, a:active {
    text-decoration: underline;
    color: #888888;
}

//----- INDEX ADVANCED ------------------

// * {
//     box-sizing: border-box;
//   }
  
//   /* Style inputs */
//   input[type=text], select, textarea {
//     width: 100%;
//     padding: 12px;
//     border: 1px solid #ccc;
//     margin-top: 6px;
//     margin-bottom: 16px;
//     resize: vertical;
//   }
  
//   input[type=submit] {
//     background-color: #4CAF50;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     cursor: pointer;
//   }
  
//   input[type=submit]:hover {
//     background-color: #45a049;
//   }
  
//   /* Style the container/contact section */
//   .container {
//     border-radius: 5px;
//     background-color: #f2f2f2;
//     padding: 10px;
//   }
  
//   /* Create two columns that float next to eachother */
//   .column {
//     float: left;
//     width: 50%;
//     margin-top: 6px;
//     padding: 20px;
//   }
  
//   /* Clear floats after the columns */
//   .row:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
  
//   /* Responsive layout - when the screen is less than 600px wide, 
//   make the two columns stack on top of each other instead of next to each other */
//   @media screen and (max-width: 600px) {
//     .column, input[type=submit] {
//       width: 100%;
//       margin-top: 0;
//     }
//   }

.form-advanced-wrapper {
    border: 1px solid black;

    margin: 5px 10px;
    width: 95%;
    padding: 20px 20px;
    display: block;
    text-align: left;

    position:absolute;
    top:30%;
    left:0;
}

.form-advanced-wrapper table {
    // padding: 20px 20px 20px 20px;
    // margin: 0;
    width: 100%;
    border: 1px solid black;
}

// .form-advanced-wrapper .form-advanced-table tr, td {
//     border: 1px solid black;
   
//     padding: 5px 15px 5px 15px;

//     @extend %text-normal;
//     font-size: 14px;
// }

// .form-advanced-content {
//     // border: 1px solid black;
//     text-align: left;
//     width: 15%;
// }

// .form-textmain-content {
//     // border: 1px solid black;
//     text-align: left;

//     @extend %text-normal;
//     font-size: 16px;
// }

// .form-advanced-wrapper .form-advanced-content input[type="text"] {
//     @extend %form-shape;
//     border: 2px solid #ffffff;
//     box-shadow: 3px 3px 8px 2px #c5c2c2;
    
//     text-align: left;

//     // /*Shape size*/
//     padding: 5px 300px 5px 30px;

//     //Text
//     @extend %text-normal;
//     color: black;
// }

// .form-advanced-wrapper .form-advanced-content input[type="text"]:focus {
//     @extend %text-normal;
//     text-align: left;
//     color: black;

//     border-color: #51b4e2;
//     box-shadow: 3px 3px 8px 2px #888888;
// }

// //----- ADVANCED BUTTON -----
// .form-advanced-wrapper .form-advanced-content input[type="submit"] {
//     @extend %form-shape;
//     // box-shadow: 3px 3px #cac8c8;
//     border: 2px solid #ffffff;
//     box-shadow: 2px 2px 10px 2px #c5c2c2;

//     margin: auto;
//     text-align: right;

//     //Shape size
//     padding: 8px 15px;
//     cursor: pointer;

//     //Text
//     @extend %text-normal;
//     font-size: $fontNormal;
//     color: black;
// }

// .form-advanced-wrapper .form-advanced-content input[type="submit"]:Hover {
//     border: 2px solid #c5c2c2;
//     background: #cac8c8;
//     text-align: right;

//     //Text
//     @extend %text-normal;
//     font-size: $fontNormal;
//     color: white;
// }