.link-wrapper {
  font-weight: bold;
  font-family: arial, sans-serif;
}

.form-advanced-wrapper .form-advanced-content input[type=text]:focus, .form-advanced-wrapper .form-advanced-content input[type=text], .form-textmain-content, .form-advanced-wrapper .form-advanced-table tr, td, .form-wrapper .form-content input[type=submit]:Hover, #lucky-btn:Hover, .form-wrapper .form-content input[type=submit], #lucky-btn, .form-wrapper .form-content input[type=text]:focus, .form-wrapper .form-content input[type=text] {
  font-weight: normal;
  font-family: arial, sans-serif;
}

.form-advanced-wrapper .form-advanced-content input[type=text], .form-wrapper .form-content input[type=submit], #lucky-btn, .form-wrapper .form-content input[type=text] {
  display: block;
  margin: 8px 5px;
  background: none;
  outline: none;
  color: white;
  border-radius: 40px;
  transition: 0.25s;
}

.form-wrapper {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: block;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-content {
  display: block;
  text-align: center;
}

.form-wrapper .form-content input[type=text] {
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 8px 2px #c5c2c2;
  text-align: left;
  padding: 15px 400px 15px 50px;
  font-size: 14px;
  color: black;
}

.form-wrapper .form-content input[type=text]:focus {
  font-size: 14px;
  text-align: left;
  color: white;
  border-color: #b1b1b1;
  box-shadow: 3px 3px 8px 2px #888888;
}

.form-wrapper .form-content input[type=submit], #lucky-btn {
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 10px 2px #c5c2c2;
  display: inline-block;
  text-align: center;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  color: black;
}

.form-wrapper .form-content input[type=submit]:Hover, #lucky-btn:Hover {
  border: 2px solid #c5c2c2;
  background: #cac8c8;
  text-align: center;
  font-size: 14px;
  color: white;
}

.link-wrapper {
  margin: 5px 10px;
  width: 20%;
  padding: 20px 25px;
  display: block;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
}

.link-wrapper a {
  margin: 5px;
}

a:link, a:visited {
  text-decoration: none;
  color: #888888;
}

a:hover, a:active {
  text-decoration: underline;
  color: #888888;
}

.title-wrapper {
  position: absolute;
  top: 10%;
  left: 5%;
}

.form-advanced-wrapper {
  margin: 5px 10px;
  width: 95%;
  padding: 20px 20px;
  display: block;
  text-align: left;
  position: absolute;
  top: 30%;
  left: 0;
}

.form-advanced-wrapper table {
  width: 100%;
}

.form-advanced-wrapper .form-advanced-table tr, td {
  padding: 5px 15px 5px 15px;
  font-size: 14px;
}

.form-advanced-content {
  text-align: left;
  width: 15%;
}

.form-textmain-content {
  text-align: left;
  font-size: 16px;
}

.form-advanced-wrapper .form-advanced-content input[type=text] {
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 8px 2px #c5c2c2;
  text-align: left;
  padding: 5px 300px 5px 30px;
  color: black;
}

.form-advanced-wrapper .form-advanced-content input[type=text]:focus {
  text-align: left;
  color: black;
  border-color: #51b4e2;
  box-shadow: 3px 3px 8px 2px #888888;
}

/*# sourceMappingURL=styles.css.map */
