%text {
    font-weight: bold;
    font-family: arial,sans-serif;
}

%text-normal {
    font-weight: normal;
    font-family: arial,sans-serif;
}

$fontNormal: 14px;
$fontSmall: 13px;

%form-shape{
    display: block;
    margin: 8px 5px;
    background: none;

    //Shape
    outline: none;
    color: white;
    border-radius: 40px;
    transition: 0.25s;
}

%logo {
    text-align: center;
    width: 100%;
}

@media only screen and (max-width:600px) {
    
    input[type="text"], input[type="button"], 
    .form-box .form-table .form-data table, tr,td,th  {
      width:100%;
    }

    .form-data-collapsed {
        display: none;
    }
}

// ====================================================
// --------------- INDEX AND INDEX-IMAGE---------------
// ==================================================== 

* {
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

body {
    margin: 0;
}

.link-box {
    // border: 1px solid black;

    margin: 5px auto;
    padding: 20px 25px;
    text-align: right;

    @extend %text;
    font-size: $fontNormal;
}

.link-box a {
    margin: 5px;
}

a:link, a:visited {
    text-decoration: none;
    color: #888888;
}
  
a:hover, a:active {
    text-decoration: underline;
    color: #888888;
}

.box {
    // border: 1px solid black;
    @extend %logo;
    padding: 105px 10px 0px 10px;
}

.box-img {
    // border: 1px solid black;
    @extend %logo;
    padding: 75px 10px 0px 10px;
}

.form-box {
    // border: 1px solid black;

    margin: 0px auto;
    width: 100%;
    padding: 0px 20px;
    display: block;

    display: flex;
	justify-content: center;
    
}

// ===================================== 
// ----------- INDEX SHAPE -------------
// ===================================== 

.form-data {
    // border: 1px solid black;
    display: block;
    text-align: center;
}

// ---------------- ICON --------------
.input-box {
    // border: 1px solid black;
    width: 100%; 
    margin-bottom: 10px; 
}

.input-box i { 
    // border: 1px solid black;
    position: absolute; 
    top:44.4%;
    left:29.8%;
    color: #888888;
} 
  
.icon {
    // border: 1px solid black;
    padding: 10px; 
    min-width: 40px;
}

.input-field {
    width: 100%; 
    padding: 10px; 
    text-align: center; 
}

.form-box .form-data input[type="text"] {
    @extend %form-shape;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 8px 2px #c5c2c2;
    
    text-align: left;

    // /*Shape size*/
    padding: 13px 350px 13px 40px;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: black;
}

.form-box .form-data input[type="text"]:focus {
    @extend %text-normal;
    font-size: $fontNormal;

    text-align: left;
    color: black;

    border-color: #b1b1b1;
    box-shadow: 3px 3px 8px 2px #888888;
}

.form-box .form-data input[type="submit"], #lucky-btn {
    @extend %form-shape;
    // box-shadow: 3px 3px #cac8c8;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 10px 2px #c5c2c2;

    display: inline-block;
    text-align: center;

    //Shape size
    padding: 8px 15px;
    cursor: pointer;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: black;
}

.form-box .form-data input[type="submit"]:Hover, #lucky-btn:Hover {
    border: 2px solid #d8cdcd;
    // background: #c9caca;
    text-align: center;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: black;
}

// ===================================== 
// --------- INDEX ADVANCE -------------
// =====================================

// ----------- HEADER -----------
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding:  10px 0 10px 20px;

    @extend %text;
    font-size: $fontNormal;

}

.header img.logo {
    margin: 10px 25px 5px 0;
    width: 90px;
}

.header-right {
    margin: 15px 25px 5px 0;
    float: right;
}

// --------- SHAPE ----------
.box2 {
    // border: 1px solid black;
    color: #dd2525;
    width: 100%;
    padding: 0px 0px 0px 30px;
}

.form-table table, tr ,td, th {
    // border: 1px solid black;
    padding: 0;
    margin: 0;
    border-spacing: 5px;
}

.form-table {
    // border: 1px solid black;

    width: 100%;
    display: block;

    margin: 5px auto;
    padding: 20px;
    display: block;

    display: flex;
	justify-content: left;
}

.form-table .form-data2 input[type="text"] {
    @extend %form-shape;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 8px 2px #c5c2c2;
    
    text-align: left;

    // /*Shape size*/
    padding: 5px 300px 5px 20px;

    //Text
    @extend %text-normal;
    font-size: $fontSmall;
    color: black;
}

.form-table .form-data2 input[type="text"]:focus {
    @extend %text-normal;
    font-size: $fontSmall;

    text-align: left;
    color: black;

    border-color: #83b1fa;
    box-shadow: 3px 3px 8px 2px #83b1fa;
}

.form-data-btn {
    margin:auto;
    text-align: right;
}

.form-table .form-data-btn input[type="submit"]{
    @extend %form-shape;
    background: #4b8df8;
    border: 2px solid #4b8df8;
    box-shadow: 2px 2px 10px 2px #c5c2c2;

    display: inline-block;
    text-align: center;

    //Shape size
    padding: 8px 10px;
    cursor: pointer;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: white;
}

.form-table .form-data-btn input[type="submit"]:Hover {
    border: 2px solid #2d70db;
    background: #2d70db;
    text-align: center;

    //Text
    @extend %text-normal;
    font-size: $fontNormal;
    color: white;
}

p {
    font-size: $fontSmall;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #0000001a;
    border-bottom: 1px solid #ffffff4d;
}

// --------------------------------------------------------------------
.search-container {
    display: flex;
    flex-direction: column;
    /* Align the search container in the center of the viewport */
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .search-container .search-field {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid #afafaf;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
  }
  .search-container .search-field input {
    border: none;
    border-radius: 25px;
  }
