%text {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

%form-shape{
    display: block;
    margin: 5px auto;

    //Shape
    outline: none;
    color: white;
    border-radius: 40px;
    transition: 0.25s;
}

.form-wrapper {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 0;
    display: block;

    display: flex;
	justify-content: center;

    position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.form-wrapper .form-content input[type="text"] {
    @extend %form-shape;
    background: none;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 8px 2px rgb(197, 194, 194);
    
    text-align: left;

    // /*Shape size*/
    padding: 15px 400px 15px 50px;

    //Text
    @extend %text;
    color: black;
}

.form-wrapper .form-content input[type="text"]:focus {
    font-size: 15px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

    text-align: left;

    border-color: #b1b1b1;
    box-shadow: 3px 3px 8px 2px #888888;
}

.form-wrapper .form-content input[type="submit"] {
    @extend %form-shape;
    background: #ffffff;
    box-shadow: 3px 3px #888888;
    border: 2px solid #888888;

    text-align: center;

    //Shape size
    padding: 10px 25px;
    cursor: pointer;

    //Text
    @extend %text;
    color: black;
}

.form-wrapper .form-content input[type="submit"]:Hover {
    background: #888888;

    text-align: center;

    //Text
    @extend %text;
    color: white;
}